* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, #249688 24vh , #dddbd1 0%, #d2dbdb 100%);
};

.wrapper {
  height: 900px;
  width: 800px;
  background-color: #000000;
}